@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent-bg {
  background-color: transparent;
  padding: 8px;
}
.transition {
  transition: 1s;
}

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
  body {
    @apply bg-white-500 font-spaceGrotesk;
  }
}

@layer components {
  .MenuLi {
    @apply border-b border-b-green-400 pb-5;
  }
  .linkButton {
    @apply text-xl bg-green-500 flex justify-center items-center h-12 px-8 py-2 text-white-500 inline-block transition hover:bg-blue-500;
  }
  .link {
    @apply hover:text-blue-500 cursor-pointer;
  }
}

@layer utilities {
  .box-white {
    background: linear-gradient(
      0deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(250, 250, 250, 1) 90%,
      rgba(250, 250, 250, 0) 90%
    );
  }

  @media (max-width: 984px) {
    .box-white {
      background: linear-gradient(
        0deg,
        rgba(250, 250, 250, 1) 0%,
        rgba(250, 250, 250, 1) 45%,
        rgba(250, 250, 250, 0) 45%
      );
    }
  }
}
